<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>主页</title>

</head>
<body>
    <nav>
        <ul>
            <li><a class="nav-item" href="/signin">登录</a></li>
            <li><a class="nav-item" href="/signup">注册</a></li>
        </ul>
    </nav>

    <div class="colck">
            <div class="time"></div>
    </div>
    <div class="background"></div>

    <style>
    .nav-item {
        font-size: 2rem;
        color: #cb1b45;
        text-decoration: none;
    }

    .nav-item:hover {
        color: white;
        background: #cb1b45;
    }

    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 15rem;
        margin: auto;
    }

    li {
        list-style: none;
    }
    </style>
</body>
</html>