<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
</head>
<body>
    <h1>登录表单</h1>
    <div>
        <input type="text" id="id-input-username" placeholder="用户名">
        <input type="text" id="id-input-password" placeholder="密码">
        <button id="id-button-signin">登录</button>
    </div>

    <div id="id-div-signin-result"></div>
    <div class="colck">
            <div class="time"></div>
    </div>
    <div class="background"></div>
    <script src="/static?filename=utils.js"></script>
    <script src="/static?filename=user.js"></script>
    <script>
    const __main__ = () => {
        userEvent.signin()
    }
    
    __main__()
    </script>
</body>
</html>