<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todo index</title>
    <link rel="stylesheet" href="/static?filename=todo.css">
</head>
<body>
    <main>
        <div id="id-div-todo-add-form">
            <input type="text" id="id-input-todo-content" placeholder="输入 todo 按回车添加">
        </div>

        <div id="id-div-todo-list">
        </div>
    </main>
    <div class="colck">
            <div class="time"></div>
    </div>
    <div class="background"></div>
    <script src="/static?filename=utils.js"></script>
    <script src="/static?filename=todo.js"></script>
</body>
</html>